.splash-container {
    width: 100%;
    height: 100%;
    background: #e3f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-logo {
    width: 200px;
    height: 200px;
    opacity: 0;
    transform: translateY(60px);
    animation: slideUpFade 1.2s ease-out forwards;
}

@keyframes slideUpFade {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
